.navBar{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    background-color: #0A1D41;
    height: 80px;
}        

header #left{
    padding: 10px 0px 0px 20px;
    float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
}

/* header #right{
    padding: 10px 50px 10px 10px;
    float: right;
} */

/* header ul li {
    
} */

/*  .navMenu ul{
    /* display: block; 
    float: right;
    align-items: center;
    justify-items: center;
    padding-top: 15px;
*/

.navMenu ul{
    display: flex;
    justify-content: stretch;
    align-items: center;
    /* height: 100%; */
    padding-top: 20px;
    
    margin-right: 20px;
    font-size: 30px;
    color: white;
}

.navMenu ul li {
    width: 100%;
}


/* Stole this https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
/* header ul li {
  display: block;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
} */

body {
    background-color: #9AA7AC;
}


/* .left{
    padding: 10px 10px 10px 20px;
    float: left;
}

.right{
    padding: 10px 10px 10px 40px;
    float: left;
    border: black 1px solid;
} */

.heroContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    /* width: 100%; */
    align-content: center;
/*     margin: 0 auto; */
}


.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/technology_map_v3b.jpeg");
    background-size: cover;
    width: 100%;
    height: 800px;

}

.heroText {
    font-family: 'Monotype Corsiva', 'Arial';
    font-size: 100px;
    color:#D0F4EA;
    text-shadow: 2px 2px #0A1D41;
    
}

.bioContainer{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 25% 75%;;
    grid-template-rows: 100%;
    align-content: center;
}


.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Heeblo', 'Arial';
    font-size: 30px;

}

.projects{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-content: center;
}

/* .projects:after {
  content: "";
  display: table;
  clear: both;
  
} */
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D0F4EA;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-wrap: anywhere;
    /* float: left;  */
    /* width: 40%; */
    margin-left: 20px;
    padding: 10px;
    
    /* flex-direction: column;
    align-content: center; */

}


.description{
    font-family: 'Heeblo';
    font-size: 20px;
}

footer{
    background-color: #E4E4E4;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    height: 45px;
}


.links ul{
    display: flex;
    justify-content: stretch;
    align-items: center;
    /* height: 100%; */
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Heeblo';
}

.links ul li {
    width: 100%;
}

.social ul{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 15px;
}

.social li{
    float: right;
    margin-left: 0px;
    margin-right: 20px;
    font-family: 'Heeblo';
}
/* .p{
    font-family: Heeblo;
    font-size: 20px;
    justify-content: center;
} */



.articleCard{
  margin: 20px 20px;
  padding-left: 10px;
  display: grid;
  min-height: 200px;
  width: 100%;

  border: black solid 1px;
  grid-template-columns:  repeat(6,fr);   /* 2fr 1fr    repeat(12,fr)*/
  grid-template-rows: repeat(4,fr);
  grid-template-areas: 
  "articleTitle articleTitle articleTitle articleTitle articleTitle articleTitle"
  "author author author author . articleYear"
  "articleJournal articleJournal articleJournal articleJournal articleJournal ."
  "doi doi . abstract highlights cite";
}

.articleTitle {
    grid-area: articleTitle;
    font-size: 40px;
}

.author {
    grid-area: author;
}

.articleYear {
    grid-area: articleYear;

}

.articleJournal {
    grid-area: articleJournal;
    font-style: italic;
}

.doi{
    grid-area: doi;
}

.abstract{
    grid-area: abstract;
}

.articleDescription{
    display: none;
}

.citation{
    grid-area: cite;
}


.articleHighlights{
    grid-area: highlights;
}
.highlightText{
    display: none;
    
}